<div class="border p-8 flex flex-col justify-center min-w-15rem">
  <div class="border p-8 text-center">
    <h1><%= @item.name.upcase %> </h1>
  </div>
  <div class="py-1rem">
    <div class="flex justify-between">
      <p>COMPLETED:</p>
      <div>
        <%= button_to (@item.completed? ? "✅" : "❌"), toggle_list_item_path(@list, @item, from_item: true),
        method: :patch %>
      </div>
    </div>
    <div class="flex justify-between">
      <p>LIST:</p>
      <p><%= @list.name.upcase %></p>
    </div>
    <div>
      <p>DESCRIPTION:</p>
    </div>
  </div>
  <div class="border p-8 text-center flex flex-col ">
    <%= link_to "EDIT", edit_list_item_path(@list, @item) %>
    <%= button_to "DELETE", list_item_path(@list, @item), method: :delete, date: { turbo_confirm: "Are you sure?" } %>
    <%= link_to "BACK", list_path(@list) %>
  </div>
</div>
